<h1>{{greenery.name | uppercase}}</h1>
<div class="jumbotron">
    <div class="panel {{getPanelClass(item)}}" ng-repeat="item in plants">
        <div class="panel-heading">
            <h3 class="panel-title">{{item.name}}</h3>
        </div>
        <div class="panel-body">
            Period: {{item.period}}<br>
            Status: {{getPlantStatus(item)}}<br> <br>
            <div class="btn btn-primary btn-xs" ng-click="waterPlant(item._id)">Water</div>
            <div class="btn btn-primary btn-xs" ng-click="deletePlant(item._id)">Delete</div>
        </div>
    </div>
    <div  ng-click="deleteGreenery()" class="btn btn-primary">Delete greenery</div>
</div>
